name: Node.js CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup corepack
        run: |
          npm install -g --force corepack
          corepack enable

      - name: Setup Node.js cache
        uses: actions/setup-node@v6
        with:
          package-manager-cache: true

      - name: Install dependencies
        run: corepack enable && yarn install --immutable

      - name: Create mock config.json
        run: echo '{"ip":"http://localhost:42069"}' > config.json

      - name: Run linter and TypeScript checks
        run: yarn lint

      - name: Run tests
        run: yarn test
